<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-sm-12">
            <div class="alert alert-success" style="margin-top:30px;">
                <center><h3>你的个人信息已经修改.</h3></center>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="common/header :: body-bottom-footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</html>